.chart-container {
  width: 1000px;
  height: 600px;
}

.chart-node {
  cursor: pointer;
}

.controls {
  color: #FFFFFF;
  position: absolute;
  top: 5;
  left: 5;
  display: flex;
  flex-direction: column
}

.map-canvas {
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 0;
  background-color: #111133;
}